body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #c0cec1;
}

header {
    background: #6868AC;
    text-align: center;
    height: 150px;
}

div {
  font-family: 'Calligraffitti', cursive;
  font-weight: 700;
  font-size: 40pt;
  position: static;
  text-shadow: -10px 0.5px 15px #ced0d3;
  top: 50%;
  left: 50%;
  transform: none;
  letter-spacing: 0.02em;
  text-align: center;
  color: #F9f1cc;
  text-shadow: 2px 2px 0px #FFB650, 
    3.5px 3.5px 0px #FFD662, 
    5px 5px 0px  #FF80BF, 
    6.5px 6.5px 0px #EF5097, 
    8px 8px 0px #6868AC, 
    9.5px 9.5px 0px #90B1E0;
}


nav ul {
    list-style: none;
    padding: 0;
    
}

nav ul li {
    display: inline;
    
    margin-right: 20px;
    
}

nav ul li a {
    color: rgb(178, 143, 235);
    text-decoration: wavy underline;
    font-size: 15pt;
    text-shadow: 2.5px 2px 0px #0b063d
}

section {
    padding: 2em;
    text-align: center;
    color: #171618;
    img {
        box-shadow: 60px -65px 60px -60px #6868AC,
65px 60px 60px -60px #6868AC,
60px 65px 60px -60px #6868AC,
-65px 60px 60px -60px #6868AC;
      }
}

footer {
    background-color: #526353;
    color: rgb(185, 123, 177);
    text-align: center;
    padding: 1em 0;
}